@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


.eb-garamond-ok {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.banner-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/banner.png');
}

.footer-section{
  background-color: #111111;
  color: white;
  padding: 70px 0;
}

.footer-input{
  display: flex;
  background-color: #ffffff;
  color: #A0A0A0;
  mt-
}

.footer-input button img{
  background-color: red;
}